{% extends 'base.html' %}

{% block title %}M.I. Studio | Entrar{% endblock %}
{% block content %}
<div class="container">
    <div class="card-login">
        <form method='post'>
            {% csrf_token %}
            <h5 class="card-login-title">Entrar</h5>
            <div class="card-login-content">
                <div class="input-field">
                    <ul>
                        {{ form.as_ul }}
                    </ul>
                </div>
            </div>
            <div class="card-login-action">
                <button type='submit' class='btn pink accent-5'>Enviar</button>
                <a href="/account/signup/" class="btn">Registrar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}