<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MAPA -->
    <!-- #### -->
    <!-- #### -->

    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <style>
        #map_0f7423b8f2f14c92838ed1625dd35edf {
            position: relative;
            width: 100.0%;
            height: 100.0%;
            left: 0.0%;
            top: 0.0%;
        }
    </style>
        
    <!-- #### -->
    <!-- #### -->
    <!-- #### -->
    
    {% load crispy_forms_tags %}
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/card.css' %}" rel='stylesheet'>
    <title>{% block title %}M.I. | Studio{% endblock %}</title>
</head>
<body>
    <header style='position: sticky; top: 0; z-index: 10; background-color: white;'>
        <div class="container">
            <img class='header-logo-img' src="{% static 'public/logo.svg' %}">
        </div>
    </header> 
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="container" style='height: auto;'>
        <!-- MAPA -->
        <!-- #### -->
        <!-- #### -->

        <h4>Agende uma visita!</h4>
        <p>Clique para ir ao mapa!</p>
        <a href="https://www.google.com.br/maps/place/Cell+Mania+(Loja+1)/@-22.239801,-54.8384484,18z/data=!4m5!3m4!1s0x9489a9d454f2fb11:0x918605114d50160a!8m2!3d-22.2396519!4d-54.8377579">
            <div class="folium-map" id="map_0f7423b8f2f14c92838ed1625dd35edf" style='width: 90%; height: 200px; margin-bottom: 50px; z-index: -1;'></div>
        </a>
            
        <!-- #### -->
        <!-- #### -->
        <!-- #### -->
    </div>
    
    <div class="fixed-action-btn" style='z-index: 11;'>
        <a class="btn-floating btn-large red btn-menu">
            <i class="large material-icons-outlined">
                {% if user.is_authenticated %}
                person
                {% else %}
                person_off
                {% endif %}
            </i>
        </a>
        <ul>
            {% if user.is_authenticated %}
            {% else %}
            <li><a class="btn-floating waves-effect blue waves-light btn btn-menu-item" href="/account/login/"><i class='material-icons-outlined'>person</i></a></li>
            {% endif %}
            
            {% if user.is_authenticated %}
            <li><a class="btn-floating waves-effect red waves-light btn modal-trigger btn-menu-item" href="#modal-agendamento"><i class="material-icons-outlined">checklist</i></a></li>
            <li><a class="btn-floating waves-effect blue waves-light btn modal-trigger btn-menu-item" href="#modal-logout"><i class="material-icons-outlined">logout</i></a></li>
            {% endif %}
            <li><a class="btn-floating blue btn-menu-item" href="/"><i class='material-icons-outlined'>home</i></a></li>
        </ul>
    </div>

    <!-- Modal Logout -->
    <div id="modal-logout" class="modal">
        <div class="modal-content">
            <h5 class="card-title" style='color: #031d44;'>Realmente deseja desconectar?</h5>
            <div class="modal-footer">
                <form action='/account/logout/' method='post'>
                    {% csrf_token %}
                    <button type='submit' class='btn red waves-effect red waves-light'>Sair</button>
                </form>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>
    </div>  

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/js.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems);
        });

        
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {
            });
        });
        
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>        
        {% for message in messages %}
    <script>
        M.toast({html: '{{ message }}'})
    </script>
    {% endfor %}

    <!-- MAPA -->
    <!-- #### -->
    <!-- #### -->

    <script>   
            var map_0f7423b8f2f14c92838ed1625dd35edf = L.map(
                "map_0f7423b8f2f14c92838ed1625dd35edf",
                {
                    center: [-22.239262, -54.837849],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            var tile_layer_53cd7976d04647ae90a02eef6d58bd2d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0f7423b8f2f14c92838ed1625dd35edf);
        
            var marker_1a8fa948c16a4379996e5310122d92d4 = L.marker(
                [-22.23949, -54.837697],
                {}
            ).addTo(map_0f7423b8f2f14c92838ed1625dd35edf);
        
            var popup_2e49d0d9f0d946d5966539ac5c3b7188 = L.popup({"maxWidth": "100%"});
            var html_c88ff07eb601471786415a78257c379d = $(`<div id="html_c88ff07eb601471786415a78257c379d" style="width: 100.0%; height: 100.0%;"><i>M.I. Studio</i></div>`)[0];
            popup_2e49d0d9f0d946d5966539ac5c3b7188.setContent(html_c88ff07eb601471786415a78257c379d);
            marker_1a8fa948c16a4379996e5310122d92d4.bindPopup(popup_2e49d0d9f0d946d5966539ac5c3b7188);

            marker_1a8fa948c16a4379996e5310122d92d4.bindTooltip(
                `<div>
                    Clique Aqui!
                </div>`,
            {"sticky": true}
        );      
    </script>

    <!-- #### -->
    <!-- #### -->
    <!-- #### -->

</body>
</html>